*{
    
}
a{
    display: inline-block;
    border: 3px solid #000;
    text-align: center;
    height: 50px;
    width: 100px;
}
main p{
    display: inline-block;
    border: 3px solid #000;
    align-items: center;
    height: 200px;
    width: 200px;
}

span{
    display: inline-block;
    border: 3px solid #000;
    align-items: left;
}
.ativa{
    display: inline-block;
    border: 3px solid #000;
    height: 50px;
    width: 1890px;
    
}
